<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1>Neural Style Transfer using Tensorflow</h1>
    <p>Display the processed image using Flask</p>


    <form method="post" enctype="multipart/form-data" action="/">
        <input type="file" id="myfile" name="upload-file" accept=".jpg">
        <br>
        <br>
        <input type="file" id="myfile" name="upload-file2" accept=".jpg">
        <input type="submit" name="Submit">
    </form>
    <p style="color:blue">Choose an image to upload</p>

    <form action="/showimage" target="_blank">
        <input type="submit" value="Display Image">
    </form>

    <form action="/stylize" target="_blank">
        <input type="submit" value="Stylize Image">
    </form>
</body>
</html>